@{
    Layout = null;
}
@using LABA_1.Models
@model LABA_1.Models.DrinkData
@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/Styles.css" />
    <title>@ViewBag.Title</title>
</head>

<body>
    @using (Html.BeginForm())
    {
        <p>
            Drink Type: @Html.DropDownListFor(m => m.DrinkType,
new SelectList(Enum.GetValues(typeof(DrinkType))),
"Select Drink Category")
        </p>
        <p> Milk: @Html.TextBoxFor(x => x.Milk)</p>
        <p> Sugar: @Html.TextBoxFor(x => x.Sugar)</p>
        <input type="submit" value="Ok" />
    }
</body>
</html>

